## This notebook creates adds labels to the sentences and tasks tables

In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

### Config

In [2]:
import configparser
config = configparser.ConfigParser()
config.read("../../env.ini")
data_home  = config['DEFAULT']['data_home']
output_dir = config['DEFAULT']['output_dir']

In [3]:
task_labels = pd.read_stata(f"{data_home}/task_labels.dta") 
sentence_labels = pd.read_stata(f"{data_home}/sentence_labels.dta") 
df_sentences = pd.read_csv(f"{output_dir}/sentences_raw.csv")
df_tasks = pd.read_csv(f"{output_dir}/tasks_raw.csv")
df_library = pd.read_csv(f"{output_dir}/library.csv")

## Tasks

In [4]:
df_tasks_labels = pd.merge(df_tasks, task_labels, on=['personid', 'task'], how='left')

In [5]:
df_tasks_labels.rename(columns={'coaching': 'treatment_status'}, inplace=True)

In [6]:
df_tasks_labels['avg_score'] = df_tasks_labels[['objective', \
                                                'unpacking',\
                                                'selfinstruction',\
                                                'selfregulation',\
                                                'ending',\
                                                'accuracy']].mean(axis=1)

In [7]:
df_tasks_labels.shape[0]

1180

## Sentences

In [8]:
def get_matches(query, choices, score_cutoff=70):
    """
    Returns the best match in `choices` for each element in `query`, if above the score cutoff.
    :param query: A list of strings to match.
    :param choices: A list of strings to be matched against.
    :param score_cutoff: The minimum score threshold for considering a match (0-100).
    """
    results = []
    for name in query:
        # Use extractOne with a score_cutoff
        match = process.extractOne(name, choices, scorer=fuzz.token_sort_ratio, score_cutoff=score_cutoff)
        if match:
            results.append((name, match[0], match[1]))
        else:
            results.append((name, None, 0))  # Handle no match case
    return pd.DataFrame(results, columns=['Query', 'Best match', 'Score'])

In [9]:
df_sentences

,personid,task,sent_num,sent_str
0,JMU_F22_002,P1,0,"Okay, so today, we're going to do a word prob..."
1,JMU_F22_002,P1,1,And we're going to try to make sense of this w...
2,JMU_F22_002,P1,2,Okay.
3,JMU_F22_002,P1,3,"So, our problem says that Ava's mom, so Ava's ..."
4,JMU_F22_002,P1,4,Okay.
...,...,...,...,...
44901,UVA_S23_027,Placement,37,I don't know what world Cody's living in but t...
44902,UVA_S23_027,Placement,38,I'm sorry $1 They can either sell all tomatoes...
44903,UVA_S23_027,Placement,39,Let's say we're trying to be the most efficien...
44904,UVA_S23_027,Placement,40,What is the smallest number of tomatoes and pu...
44905,UVA_S23_027,Placement,41,You feel like if they have been through it 12:53

In [10]:
#matches = get_matches(df_sentences['sent_str'], sentence_labels['sent_str'])
#matches.to_csv(f"{output_dir}/sentence_matches.csv", index=True)

In [11]:
matches = pd.read_csv(f"{output_dir}/sentence_matches.csv")
matches.head(5)

,Unnamed: 0,Query,Best match,Score
0,0,"Okay, so today, we're going to do a word prob...","So today, we're going to do a word problem.",94
1,1,And we're going to try to make sense of this w...,And we're going to try to make sense of this w...,98
2,2,Okay.,Okay.,100
3,3,"So, our problem says that Ava's mom, so Ava's ...",So our problem says that Ava's mom is 28 years...,88
4,4,Okay.,Okay.,100

In [12]:
df_sentences['Matched Name'] = matches['Best match']

In [13]:
# Merge and handle unmatched cases
df_sentences_labels_temp = pd.merge(df_sentences, sentence_labels , left_on = 'Matched Name',right_on = 'sent_str', how='left')

In [14]:
df_sentences_labels_temp.shape[0]

96367

In [15]:
df_sentences_labels_temp = df_sentences_labels_temp [['personid', 'task','sent_num','sent_str_x',\
                                            'objective','unpacking','selfinstruction',\
                                            'selfregulation','ending']]

In [16]:
df_sentences_labels_temp = df_sentences_labels_temp.drop_duplicates(subset=['personid', 'task', 'sent_num'], keep='first')

In [17]:
df_sentences_labels_temp.shape[0]

42090

In [18]:
df_sentences_labels = pd.merge(df_sentences[['sent_str','personid', 'task','sent_num']],
                        df_sentences_labels_temp[['objective', 'unpacking', 'selfinstruction', 'selfregulation', 'ending','personid', 'task','sent_num']],
                        on=['personid', 'task','sent_num'],  
                        how='left')

In [19]:
df_sentences_labels.shape[0]

44906

## Add labels from tasks dataframe to the library file

In [20]:
df_library2 =   pd.merge(df_library, df_tasks_labels[[ 'personid', 'task','treatment_status','time',\
                                                      'objective','unpacking','selfinstruction',\
                                                      'selfregulation','ending','accuracy','avg_score']], \
                         on=['personid', 'task'],how='left')

In [21]:
df_library2.rename(columns={'time': 'session'}, inplace=True)

In [22]:
df_library2.shape[0]

1358

In [23]:
df_tasks_labels.shape[0]

1180

## Person by time level library

In [24]:
aggregation_functions = {
    'objective': 'mean',
    'unpacking': 'mean',
    'selfinstruction': 'mean',
    'selfregulation': 'mean',
    'ending': 'mean',
    'accuracy': 'mean',
    'avg_score': 'mean',
    # For string columns, we take the first value
    # Add other string columns as needed
    'metadata': 'first',
    'site': 'first',
    'course': 'first',
    'treatment_status': 'first',
}

# Group the data by 'personid' and 'time' and apply the aggregation
library_person_time = df_library2.groupby(['personid', 'session']).agg(aggregation_functions).reset_index()

# Display the first few rows of the grouped dataframe
library_person_time.tail(10)

,personid,session,objective,unpacking,selfinstruction,selfregulation,ending,accuracy,avg_score,metadata,site,course,treatment_status
453,UVA_S23_024,1.0,2.000000,1.166667,1.0,1.000000,1.000000,2.333333,1.416667,"Wed, May 10, 2023 5:18PM â€¢ 4:25",UVA,S23,Control
454,UVA_S23_024,2.0,2.000000,2.000000,1.5,1.000000,3.000000,2.000000,1.916667,"Fri, May 19, 2023 10:54AM â€¢ 20:51",UVA,S23,Control
455,UVA_S23_025,0.0,1.000000,1.000000,1.0,1.000000,1.000000,1.833333,1.138889,"Sun, Feb 12, 2023 10:29AM â€¢ 5:00",UVA,S23,Treatment
456,UVA_S23_025,1.0,2.166667,1.500000,1.0,1.000000,1.000000,1.833333,1.416667,"Wed, May 10, 2023 5:16PM â€¢ 3:37",UVA,S23,Treatment
457,UVA_S23_025,2.0,2.500000,1.000000,2.0,1.500000,1.500000,2.000000,1.750000,"Fri, May 19, 2023 10:54AM â€¢ 26:09",UVA,S23,Treatment
458,UVA_S23_026,0.0,1.000000,1.000000,1.0,1.166667,1.000000,1.500000,1.111111,"Sat, Feb 11, 2023 7:47PM â€¢ 0:01",UVA,S23,Control
459,UVA_S23_026,1.0,1.000000,1.000000,1.0,1.000000,1.166667,1.333333,1.083333,"Wed, May 10, 2023 5:15PM â€¢ 0:01",UVA,S23,Control
460,UVA_S23_026,2.0,1.000000,1.000000,1.0,1.000000,1.333333,1.833333,1.194444,"Fri, May 19, 2023 10:55AM â€¢ 27:12",UVA,S23,Control
461,UVA_S23_027,0.0,1.000000,1.166667,1.0,1.000000,1.000000,2.333333,1.250000,"Sun, Feb 12, 2023 10:31AM â€¢ 4:40",UVA,S23,Control
462,UVA_S23_027,1.0,1.000000,1.500000,1.0,1.000000,1.000000,1.833333,1.222222,"Wed, May 10, 2023 5:12PM â€¢ 3:31",UVA,S23,Control

## Save Data

In [25]:
df_tasks_labels.to_csv(f"{output_dir}/df_tasks_labels.csv", index=True)
df_sentences_labels.to_csv(f"{output_dir}/df_sentences_labels.csv", index=True)
df_library2.to_csv(f"{output_dir}/library_with_scores.csv", index=True)
library_person_time.to_csv(f"{output_dir}/library_personbysession.csv", index=False)